.input-container {
    display: grid;
    width: 800px;
    padding: 5px;
    background-color: black;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". Up . ."
      "Left Front Right Back"
      ". Down . .";
  }
  
.Left { grid-area: Left; }

.Front { grid-area: Front; }

.Up { grid-area: Up; }

.Down { grid-area: Down; }

.Right { grid-area: Right; }

.Back { grid-area: Back; }
  

.face-container {
display: grid;
width: 200px;
height: 200px;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr;
gap: 0px 0px;
grid-auto-flow: row;
grid-template-areas:
    "TL TT TR"
    "ML MM MR"
    "DL DD DR";
}

.TL { 
    grid-area: TL;
}

.TT { grid-area: TT;
 }

.TR { grid-area: TR; }

.MM { grid-area: MM; }

.ML { grid-area: ML; }

.MR { grid-area: MR; }

.DD { grid-area: DD; }

.DL { grid-area: DL; }

.DR { grid-area: DR; }


.btn {
display: inline-block;
color: #fff;
border: none;
padding: 10px 20px;
margin: 5px;
border-radius: 5px;
cursor: pointer;
text-decoration: none;
font-size: 15px;
}

.input-output {
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr;
gap: 0px 22px;
grid-auto-flow: row;
grid-template-areas:
    "input-container output-container";
}

.input-container { grid-area: input-container; }

.output-container { grid-area: output-container;
    height: 610px;
    width: 810px;
    overflow-y: scroll;
background-color: black; }
  
.direction {
    background-color: green;
    margin: 5px 0px 5px 5px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 200px;
    font-size: 30px;
}