<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Rubix Cube Solver</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='home.css') }}">
</head>
<ul class="navbar">
    <li class="navlist"><a href="http://127.0.0.1:5000/">Solver</a></li>
    <li class="navlist"><a href="http://127.0.0.1:5000/directions">Directions</a></li>
</ul>
<body>
    <div id="root"></div>
    <!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>

    <!-- Load our React component. -->
    <script type="module" src="{{url_for('static', filename='home.js')}}"></script>
</body>

</html>